.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loaderContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
