/* CSS Variables */
:root {
  --light-text-color: #53d397;
  --light-background-color: #f7f9ff;
  --dark-text-color: #f7f7f7;
  --dark-background-color: #393e46;

  --delete-red-color: #f30a49;
}

/* Global CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Root CSS */
#root {
  height: 100vh;
}

/* Hide arrows in input type number */
/* Hide the arrows in Chrome, Safari, and Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* body */
body {
  background-color: var(--dark-background-color);
  color: var(--light-text-color);
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* Light Mode Theme, as we set dark mode theme by default */
.lightMode {
  background-color: var(--light-background-color);
}

.lightModeText {
  color: var(--dark-background-color);
}
